<!--HEAD PARTIAL-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bernie's Pricing Guide</title>
<!--Google Font-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap" rel="stylesheet">
<!--stylesheet link-->
<link rel="stylesheet" href="../css/style.css">