<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Home Page</title>
</head>
<body>
    <h1>Inventory</h1>
    <nav>
        <a href="/bakery/new">Add New Product</a>
    </nav>
    <br />
    <% for (let i = 0; i < bakeries.length; i++) { %>
        <a href="/bakery/<%= bakeries[i].id %>"><%= bakeries[i].type %></a>
        <form action="/bakery/<%= bakeries[i].id; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
    <% } %>
    
</body>
</html>