<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Bakery Item</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Add New Bakery Item</h1>
    <!--route to go home-->
    <nav>
        <a href="/">Home</a>
    </nav>
    <form action="/" method="post">
        <!--Type-->
        <label for="type">Type: </label>
        <input type="text" name="type" /><br/>
        <!--Type Image-->
        <label for="typeImg">Type Image Link: </label>
        <input type="text" name="typeImg" /><br/>
        <!--Category-->
        <label for="category">Category: </label>
        <input type="text" name="category" /><br/>
        <!--Subcategory-->
        <label for="subcat">Subcategory: </label>
        <input type="text" name="subcat" /><br/>
        <!--Description-->
        <label for="description">Description: </label>
        <input type="text" name="description" /><br/>
        <!--Pricing Type-->
        <label for="pricingType">Pricing Type: </label>
        <input type="text" name="pricingType" /><br />
        <!--Price-->
        <label for="shopPrice">Shop Price ($): </label>
        <input type="text" name="price" /><br />
        <!--add item to db-->
        <input type="submit" value="Add" />
    </form>
</body>
</html>