<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Subcategory</title>
</head>
<body>
    <nav>
        <a href="/bakery/new">Add New Product</a>
        <br />
        <a href="/bakery">Home</a>
    </nav>
    <h1><%= subcatItems.category %></h1>
    <h2><%= subcatItems.subcategory %></h2>
</body>
</html>