/*_______________*/
/* All Styling */
/*_______________*/

/* See elements more easily */
* {
    text-align: center;
    margin: 1% auto;
    font-family: 'Montserrat';
}

/* remove bullets, margin, and padding from list items */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display Edit & Delete button in a row */
li {
    display: inline-block;
    padding: 1% 15%;
    font-size: 90.5%;
}

/* Display containers inline */
.container {
    display: inline-block;
}

/* Give tables a border */ 
table {
    border: 1px solid black;
}

/* Align input text to the left */
input {
    text-align: left;
}

/*_______________*/
/* Index Styling */
/*_______________*/

/* 'Bernie's Bakery Pricing Guide'; 'Bakery Items' */
h1 {
    font-family: 'Permanent Marker';
}

h2, h4 {
    margin: 0;
}

/* nav: Add + Search */
#bar-1-square {
    font-size: 125%;
}

/*Limit width to control how many items can be seen on a row */
#list {
    max-width: 960px;
    padding: 0.5% 0;
}

/* Give individual bakery item containers margins */
#bakeryItem {
    margin: 1%;
    border: 1px solid black;
}