/*_______________*/
/* All Styling */
/*_______________*/

/* See elements more easily */
* {
    text-align: center;
    margin: 1% auto;
    font-family: 'Montserrat';
}

body {
    background: #e7f3e4;
}
/* remove bullets, margin, and padding from list items */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display Edit & Delete button in a row */
li {
    display: inline-block;
    padding: 1% 14%;
    font-size: 90.5%;
}

/* Display containers inline */
.container {
    display: inline-block;
    margin: 0 auto;
}

/* Give tables a border */ 
table {
    border: 1px solid black;
    background: #fdf5f4;
}

th, td {
    background: #fdf5f4;
}

/* Align input text to the left */
input {
    text-align: left;
}

.btn {
    background: rgb(146, 196, 238);
    cursor: pointer;
}

label {
    text-align: right;
}

.green {
    background: rgb(74, 119, 74);
    color: #ecfee8;
}

.red {
    background: #B53737;
    color: #fdf5f4;
}

.orange {
    background: #E57939;
}

/*_______________*/
/* Index Styling */
/*_______________*/

/* 'Bernie's Bakery Pricing Guide'; 'Bakery Items' */
h1 {
    font-family: 'Permanent Marker';
    color: #625643;
}

h2, h4 {
    margin: 0;
}

h4 {
    color: #ecfee8;
}

a {
    color: #fdf5f4;
}
a:hover {
    color: #d37063;
}

/* nav: Add + Search */
#bar-1-square {
    font-size: 120%;
}

input[type="search"] {
    background: white;
}

/*Limit width to control how many items can be seen on a row */
#list {
    max-width: 960px;
    padding: 0.5% 0;
}

/* Give individual bakery item containers margins */
#bakeryItem {
    margin: 0.5%;
    padding: 1%;
    background: #381A38;
}

/*____________________*/
/* New + Edit Styling */
/*____________________*/

/* Define the addItem container display */
#theItem {
    display: inline-block;
    width: 480px;
    border: 1px solid black;
    padding: 1% 2%;
    background: #381A38;
    color: #fdf5f4;
}

/* align the text in the column to the right */
.col {
    text-align: right;
}

.home {
    color: #381A38
}

/*______________*/
/* Show Styling */
/*______________*/

#itemDetails {
    display: inline-block;
}

.details {
    padding: 2% 18%;
}