/* See elements more easily */
* {
    text-align: center;
}

/* remove bullets, margin, and padding from list items */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display Edit & Delete button in a row */
li {
    display: inline-block;
}

.container {
    display: inline-block;
    border: 1px solid black;
}
